/* 背景颜色 */
body {
    background: rgba(200, 200, 200, 0.2);
}

/* 手势 */
* {
    cursor: url(../img/Aero_arrow.cur), auto !important;
}

:active {
    cursor: url("../img/Aero_Helpsel.cur"), auto !important;
}


