{% extends 'base_user.html' %}
{% block title %}
    changepassword
{% endblock %}
{% block style %}
    <style>
        .center_login {
            height: 350px;
            width: 400px;
            background-color: lightgray;
            left: 0;
            right: 0;
            top: 100px;
        }

        .center_title {
            width: 240px;
            height: 160px;
            background-color: lightyellow;
            top: -80px;
            left: 0;
            right: 0;
            font-size: 30px;
        }

        .gradient-text-one {
            background-image: -webkit-linear-gradient(bottom, red, Olive, yellow);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        a {
            color: black;
        }

        h1 {
            color: black;
        }

        h2 {
            width: 300px;
        }
    </style>
{% endblock %}
{% block main %}
    <main>
        <div class="container">
            <div class="row">
                <div class="center_login  m-auto position-relative rounded fixed-bottom">
                    <div class="center_title m-auto position-absolute">
                        <div class="py-4 text-center gradient-text-one text-capitalize">
                            <h1><strong>changepassword</strong></h1>
                            <h1 class="text-center py-5 f-15">欢迎来到CatMz的博客修改密码页面</h1>
                        </div>

                    </div>
                    <div class="center_form  mt-5 ">
                        {% load static %}
                        {% if changepassword %}
                            <form action="{% url 'users:passwordset' %}"
                                  class="text-center py-5 mr-4 change_password"
                                  method="post">
                            {% csrf_token %}
                            <h2 class="text-info ml-5 f-15">请认真并且慎重填写密码，进行修改自身</h2>
                            <div class="form-input mr-2" style="display: block;">
                                <i class="fa fa-key fa-2x  mr-2 mt-4"></i>
                                <input type="password" class="btn bg-light btn-default btn-lg mb-2"
                                       placeholder="请再次输入修改的密码" name="password">
                            </div>
                            <div class="form-input">
                                <button class="btn btn-info mt-4 submit">修改密码</button>
                            </div>
                        {% else %}
                            <script src="{% static 'js/changepassword.js' %}"></script>
                            <form action="{% url 'users:forgetpassword' %}"
                                  class="text-center py-5 mr-4 change_password"
                                  method="post">
                            <h2 class="text-info ml-5 f-15">输入您的用户帐户的验证电子邮件地址，
                                我们将发送给您一个密码重置链接。</h2>
                            <div class="form-input mr-2 mt-3">
                                <i class="fa fa-envelope fa-2x  mr-2 mt-4"></i>
                                <input id="email" type="email" class="btn bg-light btn-default btn-lg mb-2"
                                       placeholder="请输入注册邮箱地址" name="email">
                            </div>
                            <div class="form-input">
                                <button class="btn btn-info mt-4 submit">发送邮件重置密码</button>
                            </div>
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


